# ==============================
# DOCKER PROFILE
# ==============================
SPRING_PROFILES_ACTIVE=docker
LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_SECURITY=INFO

# ==============================
# KEYCLOAK
# ==============================
KEYCLOAK_ADMIN_USERNAME=YOUR_KEYCLOAK_ADMIN
KEYCLOAK_ADMIN_PASSWORD=YOUR_KEYCLOAK_ADMIN_PASSWORD
KC_DB_URL=jdbc:postgresql://postgres:5432/keycloakDB
KC_HOSTNAME=localhost
KC_HTTP_ENABLED=true
KC_HTTPS_ENABLED=false
KC_HOSTNAME_STRICT=true
KC_SSL_REQUIRED=NONE

# ==============================
# ZIPKIN
# ==============================
ZIPKIN_BASE_URL=http://zipkin:9411/api/v2/spans
MANAGEMENT_TRACING_ZIPKIN_ENDPOINT=http://zipkin:9411/api/v2/spans

# ==============================
# EUREKA SERVER
# ==============================
EUREKA_USERNAME=YOUR_EUREKA_USERNAME
EUREKA_PASSWORD=YOUR_EUREKA_PASSWORD
EUREKA_SERVER_PORT=8761
EUREKA_SERVER_NAME=discovery-server
EUREKA_SERVER_INSTANCE_HOSTNAME=discovery-server
EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE=http://YOUR_EUREKA_USERNAME:YOUR_EUREKA_PASSWORD@discovery-server:8761/eureka

# ==============================
# API GATEWAY
# ==============================
API_GATEWAY_NAME=api-gateway
API_GATEWAY_PORT=8080
API_GATEWAY_INSTANCE_HOSTNAME=api-gateway

SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=http://keycloak:8080/realms/YOUR_REALM
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://keycloak:8080/realms/YOUR_REALM/protocol/openid-connect/certs

# ==============================
# MYSQL DATABASE
# ==============================
MYSQL_USER=YOUR_MYSQL_USER
MYSQL_ROOT_PASSWORD=YOUR_MYSQL_ROOT_PASSWORD
MYSQL_PASSWORD=YOUR_MYSQL_PASSWORD
MYSQL_DATABASE=inventoryDB

SPRING_DATASOURCE_URL_MYSQL=jdbc:mysql://mysql:3306/inventoryDB
SPRING_DATASOURCE_USERNAME_MYSQL=YOUR_MYSQL_USER
SPRING_DATASOURCE_PASSWORD_MYSQL=YOUR_MYSQL_PASSWORD
SPRING_DATASOURCE_DRIVER_CLASS_NAME_MYSQL=com.mysql.cj.jdbc.Driver
SPRING_JPA_HIBERNATE_DDL_AUTO_MYSQL=update

# ==============================
# INVENTORY SERVICE
# ==============================
INVENTORY_SERVICE_NAME=inventory-service
INVENTORY_SERVICE_PORT=8080
INVENTORY_SERVICE_INSTANCE_HOSTNAME=inventory-service

# ==============================
# POSTGRES DATABASE
# ==============================
POSTGRES_USER=YOUR_POSTGRES_USER
POSTGRES_PASSWORD=YOUR_POSTGRES_PASSWORD
POSTGRES_DB=orderDB

SPRING_DATASOURCE_URL_POSTGRES=jdbc:postgresql://postgres:5432/orderDB
SPRING_DATASOURCE_USERNAME_POSTGRES=YOUR_POSTGRES_USER
SPRING_DATASOURCE_PASSWORD_POSTGRES=YOUR_POSTGRES_PASSWORD
SPRING_DATASOURCE_DRIVER_CLASS_NAME_POSTGRES=org.postgresql.Driver
SPRING_JPA_HIBERNATE_DDL_AUTO_POSTGRES=update
SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT_POSTGRES=org.hibernate.dialect.PostgreSQLDialect

# ==============================
# ORDER SERVICE
# ==============================
ORDER_SERVICE_NAME=order-service
ORDER_SERVICE_PORT=8080
ORDER_SERVICE_INSTANCE_HOSTNAME=order-service

# ==============================
# PRODUCT SERVICE
# ==============================
PRODUCT_SERVICE_NAME=product-service
PRODUCT_SERVICE_PORT=8080
PRODUCT_SERVICE_INSTANCE_HOSTNAME=product-service

# ==============================
# MONGODB
# ==============================
MONGO_INITDB_ROOT_USERNAME=YOUR_MONGO_USER
MONGO_INITDB_ROOT_PASSWORD=YOUR_MONGO_PASSWORD
MONGO_INITDB_DATABASE=productDB

MONGODB_HOST=mongo
MONGODB_PORT=27017
MONGODB_USERNAME=YOUR_MONGO_USER
MONGODB_PASSWORD=YOUR_MONGO_PASSWORD
MONGODB_DATABASE=productDB
MONGODB_AUTH_DATABASE=admin
MONGODB_URI=mongodb://YOUR_MONGO_USER:YOUR_MONGO_PASSWORD@mongo:27017/productDB?authSource=admin

# ==============================
# NOTIFICATION SERVICE
# ==============================
NOTIFICATION_SERVICE_NAME=notification-service
NOTIFICATION_SERVICE_PORT=8080
NOTIFICATION_SERVICE_INSTANCE_HOSTNAME=notification-service

# ==============================
# CONFIG SERVER
# ==============================
CONFIG_SERVER_NAME=config-server
CONFIG_SERVER_INSTANCE_HOSTNAME=config-server
CONFIG_SERVER_PORT=8888
CONFIG_SERVER_URI=https://github.com/YOUR_GITHUB_USERNAME/config-repo.git
CONFIG_SERVER_IMPORT=optional:configserver:http://config-server:8888
CONFIG_SERVER_DEFAULT_LABEL=main

# ==============================
# GITHUB
# ==============================
GIT_USERNAME=GITHUB_USERNAME
GIT_TOKEN=GITHUB_TOKEN

# ==============================
# GRAFANA
# ==============================
GF_SECURITY_ADMIN_USER=YOUR_GRAFANA_USER
GF_SECURITY_ADMIN_PASSWORD=YOUR_GRAFANA_PASSWORD